# Ignore everything
*

# But not these files:
!.gitignore
!fluid.css
!css/
!css/*.css
!package-lock.json
!package.json
!readme.md
!.editorconfig
!stylelint.config.js
!.stylelintrc
!.prettierrc
!CONTRIBUTING.md
!demo.html
!.huskyrc.js
!.lintstagedrc
